{% extends "base.html" %}

{% block og %}
<meta property="og:title" content="All Tags - {{ config.title }}">
<meta property="og:description" content="Browse posts by tag">
<meta property="og:url" content="{{ current_url }}">
<meta property="og:type" content="website">
{% endblock %}

{% block jsonld %}{% endblock %}

{% block content %}

<article>
    <header>
        <hgroup>
            <h1>All Tags</h1>
            <p>Browse posts by tag:</p>
        </hgroup>

    </header>
    {% set tags = terms %}
    {% include "partials/post-tags.html" %}
</article>

{% endblock content %}