{% extends "base.html" %}

{% block title %}All Tags - {{ config.title }}{% endblock %}
{% block description %}Browse posts by tag{% endblock %}

{% block og %}
{% set title = "All Tags - " ~ config.title %}
{% set description = "Browse posts by tag" %}
{% include "partials/og.html" %}
{% endblock %}

{% block jsonld %}{% endblock %}

{% block content %}
<article>
    <header>
        <hgroup>
            <h1>All Tags</h1>
            <p>Browse posts by tag:</p>
        </hgroup>
    </header>
    {% set tags = terms %}
    {% include "partials/post-tags.html" %}
</article>
{% endblock content %}
