{% extends "base.html" %}

{% block title %}Posts tagged with "{{ term.name }}" - {{ config.title }}{% endblock %}
{% block description %}{{ term.pages | length }} post{% if term.pages | length != 1 %}s{% endif %} tagged "{{ term.name }}"{% endblock %}

{% block og %}
{% set title = "Posts tagged with '" ~ term.name ~ "' - " ~ config.title %}
{% set tagged_count = term.pages | length %}
{% if tagged_count == 1 %}
{% set description = "1 post tagged '" ~ term.name ~ "'" %}
{% else %}
{% set description = tagged_count ~ " posts tagged '" ~ term.name ~ "'" %}
{% endif %}
{% include "partials/og.html" %}
{% endblock %}

{% block jsonld %}{% endblock %}

{% block content %}
<hgroup>
    <h1>Posts tagged with "{{ term.name }}"</h1>
    <p>{{ term.pages | length }} post{% if term.pages | length != 1 %}s{% endif %} found</p>
</hgroup>

{% set post_list = term.pages %}
{% include "partials/post-list.html" %}

{% endblock content %}
