{% extends "base.html" %}

{% block og %}
<meta property="og:title" content="Posts tagged with &quot;{{ term.name }}&quot; - {{ config.title }}">
<meta property="og:description"
    content="{{ term.pages | length }} post{% if term.pages | length != 1 %}s{% endif %} found">
<meta property="og:url" content="{{ current_url }}">
<meta property="og:type" content="website">
{% endblock %}

{% block jsonld %}{% endblock %}

{% block content %}
<hgroup>
    <h1>Posts tagged with "{{ term.name }}"</h1>
    <p>{{ term.pages | length }} post{% if term.pages | length != 1 %}s{% endif %} found</p>
</hgroup>

{% set post_list = term.pages %}
{% include "partials/post-list.html" %}

{% endblock content %}