@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kfdpkw');
  src:  url('fonts/icomoon.eot?kfdpkw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kfdpkw') format('truetype'),
    url('fonts/icomoon.woff?kfdpkw') format('woff'),
    url('fonts/icomoon.svg?kfdpkw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-note-24px:before {
  content: "\e900";
}
.icon-speaker_notes-24px:before {
  content: "\e901";
}
.icon-announcement-24px:before {
  content: "\e902";
}
.icon-emoji_objects-24px:before {
  content: "\e903";
}
.icon-assistant-24px:before {
  content: "\e904";
}
.icon-error_outline-24px:before {
  content: "\e905";
}
.icon-warning-24px:before {
  content: "\e906";
}
.icon-info-24px:before {
  content: "\e907";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-github:before {
  content: "\eab0";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
