#TableOfContents li {
    padding-left: 1em;
}

table{
    background:#fff;
    margin-bottom:1.25em;
    border:solid 1px #dedede
}

caption.title{
    white-space:nowrap;
    width:0;
}

.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6)}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}
.admonitionblock td.icon {
    font-size: 3em;
    cursor: default;
    text-align: center;
    padding-right: 0.4em;
    padding-left: 0.3em;
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.admonitionblock .icon > .title {
    font-size: small;
    font-weight: lighter;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.admonitionblock.note .icon::before {
    color: #19407c;
    content: '\e900';
}
.admonitionblock.tip .icon::before {
    color: rgb(6, 143, 148);
    content: '\e904';
}

.admonitionblock.warning .icon::before {
    content: '\e906';
    color: #bf6900;
}
.admonitionblock.caution .icon::before {
    content: '\e906';
    color: #bf3400;
}
.admonitionblock.important .icon::before {
    content: '\e902';
    color: rgb(26, 180, 218);
}