body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 0.8em;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 480px) {
	body {
		font-size: 1em;
	}
}

.line-through {
	text-decoration: line-through;
}

.tableblock{
	border-spacing: 0;
} 
.tableblock td, .tableblock th {
	padding: 0.4em;
	border: 1px solid gainsboro;
}

.tableblock td > p, .tableblock th > p {
	display: table-cell;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?9eff78');
    src:  url('/fonts/icomoon.eot?9eff78#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?9eff78') format('truetype'),
      url('/fonts/icomoon.woff?9eff78') format('woff'),
      url('/fonts/icomoon.svg?9eff78#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

a:hover {
	color: darkblue;
}
a:focus {
	color: blue;
}