

.page-footer-wrapper {
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 1em 0em 2em 0em;
}

.page-footer-wrapper > * {
    text-align: center;
    flex: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media (max-width: 480px) {
    .page-footer-wrapper {
        flex-flow: column;
    }
}