<nav>
  <ul>
    <li>
      <a href="{{ get_url(path='') }}">
        <img src="{{ get_url(path='img/android-chrome-192x192.png') }}" alt="{{ config.title }} logo"
          style="height:2rem;vertical-align:middle;border-radius:8px;">
      </a>
    </li>
    <li>
      <a href="{{ get_url(path='') }}">{{ config.title }}</a>
    </li>
  </ul>
  <ul>
    {% for section in config.extra.nav_sections %}
    <li>
      <a href="{{ get_url(path=section.path) }}">{{ section.title }}</a>
    </li>
    {% endfor %}
    <li>
      <input id="search" type="search" placeholder="Search the posts" aria-label="Search">
    </li>
  </ul>
</nav>