<nav>
  <ul>
    <li>
      <details class="dropdown">
        <summary role="button" class="outline"><img src="{{ get_url(path='img/android-chrome-192x192.png') }}"
            alt="Menu" style="height:2rem;vertical-align:middle;border-radius:8px;"></summary>
        <ul>
          {% for section in config.extra.nav_sections %}
          <li><a href="{{ get_url(path=section.path) }}">{{ section.title }}</a></li>
          {% endfor %}
          <li><a href="{{ get_url(path='tags') }}">Tags</a></li>
          <li>
            <label>
              Dark
              <input type="checkbox" data-toggle-theme="dark,light" role="switch">
            </label>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <a href="{{ get_url(path='') }}">{{ config.title }}</a>
    </li>
  </ul>
  <ul>
    <li>
      <input id="search" type="search" placeholder="Search the posts" aria-label="Search">
    </li>
  </ul>

</nav>