<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="{% if page is defined %}article{% else %}website{% endif %}">
<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:locale" content="{{ config.extra.og_locale }}">
<meta property="og:image" content="{{ og_image }}">
<link rel="canonical" href="{{ og_url }}">

{% if page is defined %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date(format='%Y-%m-%dT%H:%M:%SZ') }}">
{% endif %}
{% if page.updated %}
<meta property="article:modified_time" content="{{ page.updated | date(format='%Y-%m-%dT%H:%M:%SZ') }}">
{% endif %}
{% if page.taxonomies.tags %}
{% for tag in page.taxonomies.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}
{% endif %}

<meta name="twitter:card" content="{% if page is defined and page.extra.preview_image %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ og_image }}">
