{#
Displays a list of tags.
Variables:
- tags: List of tag names or taxonomy objects (optional, defaults to page.taxonomies.tags)
#}
{% set tags_list = tags | default(value=page.taxonomies.tags | default(value=[])) %}
{% if tags_list %}
<span>
    {% for tag in tags_list %}
    {% set tag_name = tag.name | default(value=tag) %}
    <small>
        <a href='{{ get_taxonomy_url(kind="tags", name=tag_name) }}' title="All the posts in {{ tag_name }}"
            style="text-decoration: none">
            <kbd>{{ tag_name }}
                {% if tag.pages %}
                <small>({{ tag.pages | length }})</small>
                {% endif %}
            </kbd>
        </a>
    </small>
    {% endfor %}
</span>
{% endif %}