{% if page.lower or page.higher %}
<nav aria-label="Adjacent posts">
  {% if page.lower %}
  <a href="{{ page.lower.permalink | safe }}">
    <small><span aria-hidden="true">&larr;</span> Newer</small>
    <span>{{ page.lower.title }}</span>
  </a>
  {% else %}
  <span></span>
  {% endif %}
  {% if page.higher %}
  <a href="{{ page.higher.permalink | safe }}">
    <small>Older <span aria-hidden="true">&rarr;</span></small>
    <span>{{ page.higher.title }}</span>
  </a>
  {% endif %}
</nav>
{% endif %}
