{% if page.extra.preview_image %}
{% set src = <preview_url config={config} page_path={page.path} page_preview_image={page.extra.preview_image | default(value='')} /> %}
<figure class="preview-img">
    {% if link_to_post | default(value=false) %}
    <a href="{{ page.permalink | safe }}" tabindex="-1" aria-hidden="true">
        <img src="{{ src }}" alt="" width="1200" height="630" loading="lazy">
    </a>
    {% else %}
    <img src="{{ src }}" alt="{{ page.title }}" width="1200" height="630">
    {% endif %}
</figure>
{% endif %}
