<span style="display: flex; gap: 1rem; align-items: flex-end;">
  <a href="https://github.com/carlosvin" target="_blank" rel="noopener">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" width="32"
      height="32" />
  </a>
  <a href="https://linkedin.com/in/carlosvin" target="_blank" rel="noopener">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn"
      width="32" height="32" />
  </a>
  <a href="{{ get_url(path='atom.xml') }}">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/rss.svg" alt="RSS" width="32" height="32">
  </a>
</span>