<!DOCTYPE html>

<html>
<head>
    {% include 'header/default.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div class="header">
  <h1>{{ site.title }} <small>{% if site.subtitle %}{{ site.subtitle }}{% endif %}</small></h1>
</div>

{% block breadcrumbs %}{% endblock %}

<div id="container">
    {% block content %}{% endblock %}
</div>
        
        
<div id="footer">
    <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
</div>

</body>
</html>
