<!DOCTYPE html>

<html>
    <head>
        {% include 'header/default.html' %}
    </head>
    
    <body>
        {% include 'navbar.html' %}
        
        {% block header %}{% endblock %}
        
        <div class="panel panel-default">
          <div class="panel-body">
            {% block breadcrumbs %}{% endblock %}
            {% block content %}{% endblock %}
          </div>
        </div>
                
        <div class="footer">
            <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
        </div>
    
    </body>
</html>
