<!DOCTYPE html>

<html>
<head>
    {% include 'header/default.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div class="header">
  <h1>{{ site.title }} <small>{% if site.subtitle %}{{ site.subtitle }}{% endif %}</small></h1>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        {% block breadcrumbs %}{% endblock %}
    </div>
    <div class="row-fluid">
        {% block content %}{% endblock %}
    </div>
</div>
        
        
<div class="footer">
    <p>{% if site.author %}&copy; {{ none|date('%Y') }} {{ site.author }} &ndash; {% endif %}powered by <a href="http://mynt.mirroredwhite.com/">mynt</a></p>
</div>

</body>
</html>
