.form-inline {
    display: flex;
    flex-flow: row;
}

.form-inline input,
.form-inline button {
    line-height: 1.5rem;
    height: 1.5rem;
}  
.search-icon svg {
    position: relative;
    width: 100%;
}
