<!DOCTYPE html>
<html lang="en">

<head>
  {% if page.title %}
  {% set title = page.title %}
  {% else %}
  {% set title = config.title %}
  {% endif %}
  <title>{{ title }}</title>

  {% if page.description %}
  {% set description = page.description %}
  {% else %}
  {% set description = config.description %}
  {% endif %}
  <meta name="description" content="{{ description }}" />


  <!-- Meta tags and OpenGraph metadata for SEO, social sharing, and browser configuration -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ config.author }}" />
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
  {% endblock %}

  {% block og %}{% include "partials/base-og.html" %}{% endblock %}
  {% block jsonld %}{% include "partials/json-ld.html" %}{% endblock %}

  <!-- Links to files -->
  <link rel="stylesheet" href="{{get_url(path='css/base.css') | safe }}" rel=preconnect>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.min.css" rel=preconnect>
  <link rel="icon" href="{{get_url(path='img/favicon.ico') | safe }}" />
  <link rel="manifest" href="{{ get_url(path='manifest.json') | safe }}" />

  <!-- Scripts -->
  <script type="speculationrules">
    {
    "prerender": [
        {
        "where": {
            "selector_matches": "a"
        }
        }
    ]
    }
  </script>
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "58k0hy1db4");
  </script>
  <script defer src="https://cloud.umami.is/script.js" data-website-id="b33a381d-0843-4a11-b306-74c285c39206"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
    integrity="sha512-0QarUp4p9r5IqUgSRyP89BHga45OpEd7VR8lbRkJkf48p/EhcU742fWUpKpoDyu9N6XYAEq/vz6m6z1OolnsDw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer async></script>
  <script defer data-domain="carlosvin.github.io" src="https://plausible.io/js/script.js"></script>
</head>

<body class="container">
  <header>
    {% include "partials/nav.html" %}
    <div class="search-container">
      <div class="search-results">
        <div class="search-results__items"></div>
      </div>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
    <script src="{{ get_url(path='js/search.js') }}"></script>
  </main>

  <footer>
    <nav>
      <small>&copy; {{ now() | date(format="%Y") }} {{ config.author }} | Powered by <a
          href="https://www.getzola.org/">Zola</a>
      </small>
      {% include "partials/social.html" %}
    </nav>
  </footer>

  <script src="{{ get_url(path='js/search.js') }}"></script>
</body>

</html>