{% extends "base.html" %}
{% block og %}{% include "partials/blog-page-og.html" %}{% endblock %}

{% block content %}
<article class="post">
  <header>
    <hgroup>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">
        {% if page.updated %}
        <time datetime="{{ page.updated | date(format=" %Y-%m-%d") }}">
          {{ page.updated | date(format="%B %d, %Y") }}
        </time>
        {% else %}
        <time datetime="{{ page.date | date(format=" %Y-%m-%d") }}">
          {{ page.date | date(format="%B %d, %Y") }}
        </time>
        {% endif %}
      </p>
    </hgroup>
  </header>

  {% include "partials/toc.html" %}

  <section class="post-content">
    {{ page.content | safe }}
  </section>

  <footer>
    <script src="https://utteranc.es/client.js" repo="carlosvin/carlosvin.github.io" issue-term="title"
      theme="github-light" crossorigin="anonymous" async defer>
      </script>
  </footer>
</article>
{% endblock content %}