{% extends "base.html" %}

{% block content %}
<article class="post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      {% if page.date %}
      <time datetime="{{ page.date | date(format=" %Y-%m-%d") }}">
        {{ page.date | date(format="%B %d, %Y") }}
      </time>
      {% endif %}
      {% if page.updated %}
      <span class="updated">
        (Updated on <time datetime="{{ page.updated | date(format=" %Y-%m-%d") }}">
          {{ page.updated | date(format="%B %d, %Y") }}
        </time>)
      </span>
      {% endif %}
      {% if page.extra.author %}
      <span class="author">
        by {{ page.extra.author }}
      </span>
      {% endif %}
    </div>
  </header>

  {% include "partials/toc.html" %}

  <section class="post-content">
    {{ page.content | safe }}
  </section>

  <footer>
    <script src="https://utteranc.es/client.js" repo="carlosvin/carlosvin.github.io" issue-term="title"
      theme="github-light" crossorigin="anonymous" async defer>
      </script>
  </footer>
</article>
{% endblock content %}