{% extends "base.html" %}
{% block og %}{% include "partials/blog-page-og.html" %}{% endblock %}

{% block content %}
<article class="post">
  <header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      <p>
        {% include "partials/post-meta.html" %}
      </p>
      {% include "partials/post-tags.html" %}
    </hgroup>
  </header>

  {% include "partials/toc.html" %}

  <section class="post-content">
    {{ page.content | safe }}
  </section>

  <footer>
    <script src="https://utteranc.es/client.js" repo="carlosvin/carlosvin.github.io" issue-term="title"
      theme="github-light" crossorigin="anonymous" async defer>
      </script>
  </footer>
</article>
{% endblock content %}