{% extends "base.html" %}

{% block content %}
<h1 class="title">
  My blog - Carlos says bla, bla
</h1>

<p>Welcome to my <a href="{{ get_url(path='@/blog/_index.md') }}">blog</a>, where you can find <a
    href="{{ get_url(path='@/blog/_index.md') }}">posts</a> about various topics that interest me, mainly about software
  engineering, programming languages, code examples, recent learnings, and more.
  <br />
  <small>
    Note that there are some old posts, that are kind of legacy, I keep them for reference, one example can be
    <a href="{{ get_url(path='@/blog/_index.md') }}">Choosing a Modern C++ stack</a>, it was written in 2017, updated on
    2020, but I guess today is not modern anymore :).
  </small>
</p>

<p>
  If you want to know more about me, you can check my <a href="{{ get_url(path='@/about.md') }}">about</a> page.
</p>

{% endblock content %}